body 
{
	margin: 0;
}
.head {
	display: block;
	height: 10%;
	color : white;
	background-color: #061339;
}
header h1{
	margin:0;
}

.titre {
	line-height: 150px;
	display: block;
	color : white;
	background-image: url("img/background.jpg");
}
.titre h2{
	margin:0;
	text-align: center;
}
